.yui-g
	%fieldset
		- [:name, :title].each do |field|
			%p
				%label= t("admin.option_groups.form.#{field.to_s}.label")
				%br
				= f.text_field field, :size => 50, :maxlength => 256
				&nbsp;
				%span.info= t("admin.option_groups.form.#{field.to_s}.info")
		%p
			= f.check_box :show
			%label= t("admin.option_groups.form.show.label")
			&nbsp;
			%span.info= t("admin.option_groups.form.show.info")
	.yui-u.first
		%fieldset
			%p
				%label= t('admin.option_groups.form.properties')
				- Property.all.each do |item|
					%br
					- hide_this_prop = (@option_group.cannot_include?(item))
					= check_box_tag "option_group[property_ids][]", item.id, @option_group.properties.include?(item) unless hide_this_prop
					= item.presentation
					= "(-> #{item.option_group.name})" if hide_this_prop
	.yui-u.last
		%fieldset
			%p
				%label= t('admin.option_groups.form.options')
				- OptionType.all.each do |item|
					%br
					- hide_this_prop = (@option_group.cannot_include?(item))
					= check_box_tag "option_group[option_type_ids][]", item.id, @option_group.option_types.include?(item) unless hide_this_prop
					= item.presentation
					= "(-> #{item.option_group.name})" if hide_this_prop